Bulldozer_price_prediction(Regression)/datasets/bluebook-for-bulldozers

/home/arghanath/Documents/MachineLearning/Deep Learning/Converting_words_to_numbers/Word2Vec/amazon_accessories_review_word2vec.model

/home/arghanath/Documents/MachineLearning/Deep Learning/Converting_words_to_numbers/Word2Vec/Sports_Outdoors_Reviews_Word2Vec.model