Bulldozer_price_prediction(Regression)/datasets/bluebook-for-bulldozers

/home/arghanath/Documents/MachineLearning/Deep Learning/Converting_words_to_numbers/Word2Vec/amazon_accessories_review_word2vec.model

/home/arghanath/Documents/MachineLearning/Deep Learning/Converting_words_to_numbers/Word2Vec/Sports_Outdoors_Reviews_Word2Vec.model

PlantVillage

Potato_Disease_Classification/venv

# Paths to the Tomato Datasets.

Tomato_Disease_Classification/Dataset/Tomato__Target_Spot
Tomato_Disease_Classification/Dataset/Tomato__Tomato_mosaic_virus
Tomato_Disease_Classification/Dataset/Tomato__Tomato_YellowLeaf__Curl_Virus
Tomato_Disease_Classification/Dataset/Tomato_Bacterial_spot
Tomato_Disease_Classification/Dataset/Tomato_Early_blight
Tomato_Disease_Classification/Dataset/Tomato_healthy
Tomato_Disease_Classification/Dataset/Tomato_Late_blight
Tomato_Disease_Classification/Dataset/Tomato_Leaf_Mold
Tomato_Disease_Classification/Dataset/Tomato_Septoria_leaf_spot
Tomato_Disease_Classification/Dataset/Tomato_Spider_mites_Two_spotted_spider_mite


# Windows

C:\Users\argha\OneDrive\Desktop\MachineLearning\Basics\Identifying the faces of celebrities Project(Classification)\server\venv
Basics/Identifying the faces of celebrities Project(Classification)/server/venv/bin/python
Basics/Identifying the faces of celebrities Project(Classification)/server/venv/bin/python3
Basics/Identifying the faces of celebrities Project(Classification)/server/venv/bin/python3.8

C:\Users\argha\OneDrive\Desktop\MachineLearning\Deep Learning\BERT\models_email
C:\Users\argha\OneDrive\Desktop\MachineLearning\Deep Learning\BERT\models_email\1
C:\Users\argha\OneDrive\Desktop\MachineLearning\Deep Learning\BERT\models_email\2
C:\Users\argha\OneDrive\Desktop\MachineLearning\Deep Learning\BERT\models_email\3
Deep Learning/BERT/models_email/1/keras_metadata.pb
Deep Learning/BERT/models_email/1/saved_model.pb
Deep Learning/BERT/models_email/1/assets/vocab.txt
Deep Learning/BERT/models_email/1/variables/variables.data-00000-of-00001
Deep Learning/BERT/models_email/1/variables/variables.index
Deep Learning/BERT/models_email/2/keras_metadata.pb
Deep Learning/BERT/models_email/2/saved_model.pb
Deep Learning/BERT/models_email/2/assets/vocab.txt
Deep Learning/BERT/models_email/2/variables/variables.data-00000-of-00001
Deep Learning/BERT/models_email/2/variables/variables.index
Deep Learning/BERT/models_email/3/assets/vocab.txt
Deep Learning/BERT/models_email/3/variables/variables.data-00000-of-00001
Deep Learning/BERT/models_email/3/variables/variables.index
Deep Learning/BERT/models_email/3/keras_metadata.pb
Deep Learning/BERT/models_email/3/saved_model.pb
Tensorflow_Serving/models_email/3/keras_metadata.pb
Tensorflow_Serving/models_email/3/saved_model.pb
Tensorflow_Serving/models_email/3/assets/vocab.txt
Tensorflow_Serving/models_email/3/variables/variables.data-00000-of-00001
Tensorflow_Serving/models_email/3/variables/variables.index
Tensorflow_Serving/models_email/2/keras_metadata.pb
Tensorflow_Serving/models_email/2/saved_model.pb
Tensorflow_Serving/models_email/2/assets/vocab.txt
Tensorflow_Serving/models_email/2/variables/variables.data-00000-of-00001
Tensorflow_Serving/models_email/2/variables/variables.index
Tensorflow_Serving/models_email/1/keras_metadata.pb
Tensorflow_Serving/models_email/1/saved_model.pb
Tensorflow_Serving/models_email/1/assets/vocab.txt
Tensorflow_Serving/models_email/1/variables/variables.data-00000-of-00001
Tensorflow_Serving/models_email/1/variables/variables.index
Tensorflow_Serving/saved_models/1/keras_metadata.pb
Tensorflow_Serving/saved_models/1/saved_model.pb
Tensorflow_Serving/saved_models/1/assets/vocab.txt
Tensorflow_Serving/saved_models/1/variables/variables.data-00000-of-00001
Tensorflow_Serving/saved_models/1/variables/variables.index
Tensorflow_Serving/saved_models/2/keras_metadata.pb
Tensorflow_Serving/saved_models/2/saved_model.pb
Tensorflow_Serving/saved_models/2/assets/vocab.txt
Tensorflow_Serving/saved_models/2/variables/variables.data-00000-of-00001
Tensorflow_Serving/saved_models/2/variables/variables.index
Tensorflow_Serving/saved_models/3/keras_metadata.pb
Tensorflow_Serving/saved_models/3/saved_model.pb
Tensorflow_Serving/saved_models/3/assets/vocab.txt
Tensorflow_Serving/saved_models/3/variables/variables.data-00000-of-00001
Tensorflow_Serving/saved_models/3/variables/variables.index



C:\Users\argha\OneDrive\Desktop\MachineLearning\Potato_Disease_Classification\venv
Time Series/.~lock.BTC-USD.csv#
.gitignore
