Bulldozer_price_prediction(Regression)/datasets/bluebook-for-bulldozers

/home/arghanath/Documents/MachineLearning/Deep Learning/Converting_words_to_numbers/Word2Vec/amazon_accessories_review_word2vec.model

/home/arghanath/Documents/MachineLearning/Deep Learning/Converting_words_to_numbers/Word2Vec/Sports_Outdoors_Reviews_Word2Vec.model

PlantVillage

Tomato_Disease_Classification/Dataset/Tomato__Target_Spot
Tomato_Disease_Classification/Dataset/Tomato__Tomato_mosaic_virus
Tomato_Disease_Classification/Dataset/Tomato__Tomato_YellowLeaf__Curl_Virus
Tomato_Disease_Classification/Dataset/Tomato_Bacterial_spot
Tomato_Disease_Classification/Dataset/Tomato_Early_blight
Tomato_Disease_Classification/Dataset/Tomato_healthy
Tomato_Disease_Classification/Dataset/Tomato_Late_blight
Tomato_Disease_Classification/Dataset/Tomato_Leaf_Mold
Tomato_Disease_Classification/Dataset/Tomato_Septoria_leaf_spot
Tomato_Disease_Classification/Dataset/Tomato_Spider_mites_Two_spotted_spider_mite